body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color: #000;
    overflow: hidden;
}
.web{
   display: flex;
   height: 100vh;
   margin: 0.5;
}
.slidebar{
    width: 340px;
    background-color: #000;

}
.mainbar{
    flex: 1;
    background-color: #121212;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.button{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: #121212;
    height: 6rem;
    border-radius: 1rem;
    margin: 0.3rem;
}
a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 800;
    
}
.homeselection{
    padding-left: 1rem;
    margin: 0.5rem;
    padding-top: 0.5rem;
}
.homeselection i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.Search{
    opacity: 0.7;
}
.Search:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    height: 100%;
    border-radius: 1rem;
    margin: 0.3rem;
}
.libspan img{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
}
.libspan{
    opacity: 0.7;
}
.libselection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    
}
.icon{
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.fa-plus{
    opacity: 0.7;
}
.fa-arrow-right{
    opacity: 0.7;
}
.icon i{
    margin-right: 1rem;
    cursor: pointer;
}
.fa-plus:hover{
    opacity: 1;
}
.fa-arrow-right:hover{
    opacity: 1;
}
.libspan:hover{
    opacity: 1;
}
.lib-boxes{
    margin: 0.7rem;
}
.box{
        background-color: #232323;
        height: 8rem;
        border-radius: 0.75rem;
        margin: 0.5rem 0 1.75rem 0;
        padding: 0.75rem 1rem;
}
.box-p1{
        font-size: 1rem;
        font-weight: 500;
}
.box-p2{
        font-size: 0.75rem;
        opacity: 0.8;
}
.badge{
        background-color: #fff;
        border: none;
        border-radius: 100px;
        padding: 0.25rem 1rem;
        font-weight: 700;
        margin-top: 0.5rem;
        width: fit-content;
}
.nav{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.nav1{
    margin-left: 1rem;
}
.nav2{
   margin-right: 1rem;
}
.badge i{
    margin-right: 0.35rem;
}
.hello{
    margin-right: 1rem;
}
.dark-bar{
    background-color: #000;
    color: #fff;
}
.card{
    display: flex;
    flex-wrap: wrap;
}
.card1{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.card-image{
    width: 100%;
}
.card-title{
    font-weight: bold;
}
.card-dis{
    font-size: small;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid #232323;
}
.left-arrow{
    width: 25%;
}
.centre-arrow{
    width: 50%;
}
.right-arrow{
    width: 25%;
}
.music-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.img-bar{
    margin-right: 1.5rem;
    
}
.player-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rangebar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.size{
    height: 1.3rem;
    opacity: 0.7;
}
.size:hover{
    opacity: 1;
}
.differnt{
    height: 1.9rem;
}
.differnt:hover{
    height: 2.1rem;
}
.rangebar::-webkit-slider-runnable-track{
    background-color: white;
    height: 0.2rem;
    border-radius: 100px;
}
.rangebar::-webkit-slider-thumb{
    background-color: #1bd71b;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}